html {

  /* best vh (can change by script)*/
  --vh: 1vh;

  /* grid  */
  --left-side-width: 8vw;
  --right-side-width: 8vw;
  --main-width: calc(100vw - var(--left-side-width) - var(--right-side-width));
  --column-gap: 24px;
  --line-height: 21px;

  /* colors */

  --firm-dim: #a19181;
  --firm-bright: #3a6999;
  --firm-bright-opacity: rgba(58, 105, 153, 0.8);

  scroll-behavior: smooth;
  font-size: 16px;
}


body {
  font-family: 'Open Sans';
  line-height: var(--line-height);
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

button {
  outline: none;
  border: none;
  border-radius: calc(var(--line-height)*1.5);
  padding: var(--line-height) calc(var(--line-height)*1.6);
  font: 1rem 'Open Sans';
  line-height: var(--line-height);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  background: var(--firm-bright);
  color: #fff;
  transition: box-shadow .5s;
}

button:hover {
  box-shadow: 0 0 0 .5em rgba(55, 89, 159, 0.25);
  cursor: pointer;
  transition: box-shadow ease-out .125s;
}

input {
  outline: none;
  border: none;
  border-radius: calc(var(--line-height)*1.5);
  padding: var(--line-height) calc(var(--line-height)*1.6);
  width: calc(100% - var(--line-height)*1.6*2);
  font: 1rem 'Open Sans';
  line-height: var(--line-height);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  background: #f5f5f5;
}




/* MODIFICATORS */

.hidden {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transition: opacity .4s;
}


.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity .125s;
}

.hidden-nice {
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s, transform .5s;
}

.show-nice {
  opacity: 1;
  pointer-events: auto;
  transition: opacity .5s, transform .5s;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}




/* ELEMENTS */

/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-column-gap: var(--column-gap);
  grid-template-columns: [col] var(--left-side-width)  repeat(12, [col] 1fr) [col] var(--right-side-width);
  grid-template-rows: repeat(5, [row] var(--line-height)) [row] auto;
  grid-template-areas:
    ". logo logo . . . . . . . . . . ."
    ". logo logo . . . . . . . . . menu-btn ."
    ". logo logo label label label label label label number number number menu-btn ."
    ". logo logo . . . . . . . . . menu-btn ."
    ". . . . . . . . . . . . . ."
    ". . . . . . . . . menu menu menu menu .";
  font-size: 0;
  letter-spacing: 0;
  z-index: 10;
  background: transparent;
}

.header__logo {
  grid-area: logo;
  top: 0;
}

.header__logo img {
  object-fit: contain;
  position: relative;
  height: 95%;
  width: 95%;
  left: -15%;
  top: 5%;
}

.header__logo-label {
  grid-area: label;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  vertical-align: top;
  color: var(--firm-dim);
}

.header__phone-number {
  grid-area: number;
  text-align: right;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  vertical-align: top;
}

.header__menu-btn-container {
  grid-area: menu-btn;
  position: relative;
}

.header__menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--line-height) var(--column-gap);
  transform: translate(var(--column-gap), 0);
  text-align: right;
}

.header__open-menu-icon {
  fill: #000;
}

.header__close-menu-icon {
  fill: #000;
}

.header__close-menu-icon.show,
.header__open-menu-icon.show,
.header__close-menu-icon.hidden,
.header__open-menu-icon.hidden {
  transition: none;
}


.header__menu-btn:hover{
  cursor: pointer;
}

.header__menu {
  grid-area: menu;
}



/* page-carousel */

.page-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--left-side-width);
  height: calc(100 * var(--vh));
  z-index: 20;
}

.page-carousel__item {
  width: 1rem;
  height: 1rem;
  margin-bottom: var(--line-height);
  background: radial-gradient(50% 50%,
    #e5e5e5 0%,
    #e5e5e5 99.9%,
    transparent 99.9%);
  outline: none;
}


.page-carousel__item:hover {
  cursor: pointer;
}

.page-carousel__item:last-child {
  margin-bottom: 0;
}

.page-carousel__item.active {
  background: radial-gradient(50% 50%,
    var(--firm-dim) 0%,
    var(--firm-dim) 50%,
    #eee 50%,
    #eee 99.9%,
    transparent 99.9%);
}



/* scroll tip */

.scroll-tip {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.scroll-tip__label {
  margin-bottom: calc(0.25 *var(--line-height));
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--firm-dim);
  text-align: center;
}

.scroll-tip__line {
  margin: auto;
  width: 2px;
  height: calc(1.25 * var(--line-height));
  background: var(--firm-dim);
  z-index: 10;
}



/* menu */

.menu {
  height: auto;
  padding: calc(.5 * var(--line-height)) var(--column-gap);
  box-shadow: 0 0 2rem rgba(0,0,0, 0.05);
  background: #fff;
  outline: none;
}

.menu__item {
  display: table;
  width: 100%;
  padding: calc(.5 * var(--line-height)) 0;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  line-height: var(--line-height);
  letter-spacing: 0.1em;
  color: #000;
  transition: all .5s;
}

.menu__item:hover {
  transform: translate(-.25em, 0);
  cursor: pointer;
  transition: all .125s;
}



/* content */

.content {
  display: grid;
  grid-column-gap: var(--column-gap);
  grid-template-columns: var(--left-side-width) [content] 1fr var(--right-side-width);
  grid-template-rows: auto;
  overflow-x: hidden;
}

.content__banner {
  grid-column: content;
  padding-top: calc(5*var(--line-height));
  min-height: calc(100*var(--vh) - 5*var(--line-height));
  overflow: visible;
}

.content__double-block {
  display: grid;
  grid-column-gap: var(--column-gap);
  grid-column: content;
  grid-template-columns: 1fr 1fr;
}


.content__block {
  grid-column: content;
}

.content__double-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}



/* banner */

.banner {
  display: grid;
  grid-column-gap: var(--column-gap);
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(24, var(--line-height)) auto;
  /* style */
  position: relative;
  height: 100%;
}

.banner__tagline {
  grid-column: col 1 / span 8;
  grid-row: 7 / span 8;
  /* style */
  line-height: calc(var(--line-height)*4);
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: 0.1em;
  z-index: 2;
}

.banner__CTA-btn {
  grid-column: col 3 / span 4;
  grid-row: 19 / span 3;
  /* style */
  font-size: 1.25rem;
  margin: auto 0;
}

.banner__CTA-btn.show-nice {
  transition: box-shadow .5s, transform .5s, opacity .5s;
}
.banner__CTA-btn.show-nice:hover {
  transition: box-shadow .125s, transform .5s, opacity .5s;
}

.banner__good-img {
  grid-column: col 9 / -1;
  grid-row: 2 / 23;
}

.banner__good-img img {
  position: relative;
  top: -3%;
  left: -14%;
  object-fit: contain;
  height: 120%;
  width: 120%;
}

.banner__background-rounds {
  grid-column: col 9 / -1;
  grid-row: 4 / 24;
  background: radial-gradient(50% 50%,
    var(--firm-bright-opacity) 0%,
    var(--firm-bright-opacity) 50%,
    #e5e5e5 50%,
    #e5e5e5 75%,
    #f5f5f5 75%,
    #f5f5f5 99.9%,
    transparent 99.9%);
  width: calc(100 * var(--vh) + 4 * var(--line-height));
  height: calc(100 * var(--vh) + 4 * var(--line-height));
  transform: translate(calc(-50% + 2 * ((var(--main-width) - var(--column-gap))/12) - 0.5*var(--column-gap)), calc(-50% + 10 * var(--line-height)));
  z-index: -1;
}



/* block */

.block {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    repeat(4, var(--line-height))
    fit-content(100%)
    var(--line-height)
    fit-content(100%)
    repeat(2, var(--line-height))
    auto
    repeat(4, var(--line-height));
}

.block__header {
  grid-row: 5 / span 1;
  font-size: 2.35rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: calc(2 * var(--line-height));
  text-align: center;
  z-index: 1;
}

.block__subheader {
  grid-row: 7 / span 1;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--firm-dim);
}

.block__body {
  grid-row: 10 / span 1;
  position: relative;
}

.block__background-rounded-half {
  position: absolute;
  top: 55%;
  left: calc(-1 * var(--left-side-width) - var(--column-gap));
  width: 100vw;
  height: 45%;
  background: radial-gradient(100% 100% at center bottom,
    #f5f5f5 0%,
    #f5f5f5 99%,
    transparent 99%);
  z-index: -1
}



/* advantage-list & advatage */

.advantage-list {
  display: grid;
  grid-column-gap: var(--column-gap);
  grid-row-gap: calc(var(--line-height)*2);
  grid-template-columns: repeat(4, 1fr);

}

.advatage {
}

.advantage__icon {
  position: relative;
  width: 66%;
  margin: 0 auto;
  margin-bottom: var(--line-height);
}

.advantage__icon img {
  width: 100%;
  fill:
}

.advantage__title {
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: var(--line-height);
}

.advantage__description {
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: var(--line-height);
}



/* colors and color */

.color-list {
  display: grid;
  grid-column-gap: var(--column-gap);
  grid-row-gap: calc(var(--line-height)*2);
  grid-template-columns: repeat(3, 1fr);
}

.color {
  position: relative;
  text-align: center;
}

.color__label {
  position: absolute;
  top: 50%;
  right: 68%;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--firm-dim);
}

.color__picture img {
  width: 50%;
  margin-bottom: var(--line-height);
}

.color__CTA-btn {
  padding: calc(0.5 * var(--line-height)) calc(var(--line-height)*1.6);
}



/* specs and spec */

.spec-list {
  display: grid;
  grid-column-gap: var(--column-gap);
  grid-row-gap: calc(var(--line-height)*2);
  grid-template-columns: repeat(4, 1fr);
}


.spec {
  text-align: center;
}

.spec__label {
  margin-bottom: var(--line-height);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-align: center;
}

.spec__picture {
  position: relative;
  margin-bottom: var(--line-height);
}

.spec__picture img {
  width: 60%;
  border-radius: 50%;
}

.spec__description {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: var(--line-height);
}



/* applications */

.application-list {
  display: grid;
  grid-column-gap: var(--column-gap);
  grid-template-columns: 1fr [center] 1fr 1fr;
  grid-template-rows: [center] 1fr;
}

.application-list::before {
  position: absolute;
  grid-column: center;
  grid-row: center;
  content: '';
  transform: translate(-25%,-25%);
  width: 200%;
  padding-bottom: 200%;
  border-radius: 50%;
  background: radial-gradient(
    50% 50%,
    var(--firm-dim) 0.1%,
    var(--firm-dim) 56.25%,
    #eee 56.25%,
    #eee 75%,
    #f5f5f5 75%,
    #f5f5f5 99.9%
  );
  z-index: -1;
}

.application-list__item {
  grid-column: center;
  grid-row: center;
  transition: transform .4s;
}

.application-list__item.active {
  z-index: 2;
}

.application-list__item.prev {
  transform: translate(calc(-125% - var(--column-gap)), -12.5%) scale(0.5,0.5);
  z-index: 1;
}

.application-list__item.next {
  transform: translate(calc(125% + var(--column-gap)), -12.5%) scale(0.5,0.5);
}

.application {
  position: relative;
}

.application__picture {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin: 0 auto;
  margin-bottom: var(--line-height);
}

.application:active .application__picture {
  position: relative;
  width: 90%;
  padding-bottom: 90%;
  margin-top: 0;
  margin-bottom: calc(2*var(--line-height));
  border: .5rem solid var(--firm-dim);
  border-radius: 50%;
}

.application__picture img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.application__header {
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 2rem;
  line-height: calc(2*var(--line-height));
  font-weight: 600;
}


/* stats */

.stat-list {
  display: grid;
  grid-column-gap: var(--column-gap);
  grid-row-gap: var(--line-height);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.stat {
  text-align: center;
}

.stat__number {
  letter-spacing: 0.1em;
  font-size: 4.5rem;
  line-height: calc(6* var(--line-height));
  font-weight: 900;
  color: var(--firm-dim);
}

.stat__description {
  letter-spacing: 0.1em;
  font-size: 1rem;
  font-weight: 600;
}



/* photo slider */

.photo-slider {
  position: relative;
  overflow: visible;
  height: calc(100*var(--vh) - 14*var(--line-height));
}


.photo-slider__next-btn,
.photo-slider__prev-btn {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--firm-dim);
}

.photo-slider__next-btn:hover,
.photo-slider__prev-btn:hover {
  cursor: pointer;
}

.photo-slider__next-btn {
  position: absolute;
  right: -2rem;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 5;
}

.photo-slider__prev-btn {
  position: absolute;
  left: -2rem;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 5;
}

.photo-slider__visible-area {
  position: absolute;
  left: 2rem;
  width: calc(100% - 4rem);
  height: 100%;
  overflow: auto;
  overflow-y: hidden;
}

.photo-slider__visible-area::-webkit-scrollbar {
  height: calc(1.25*var(--line-height));
}

.photo-slider__visible-area::-webkit-scrollbar-track {
  background: linear-gradient(
    transparent 0.1%,
    transparent 80%,
    transparent 80%,
    transparent 99.9%);
}

.photo-slider__visible-area::-webkit-scrollbar-thumb {
  background: linear-gradient(
    transparent 0.1%,
    transparent 80%,
    var(--firm-dim) 80%,
    var(--firm-dim) 99.9%);
}

.photo-slider__list {
  height: 100%;
  width: auto;
  overflow: visible;
  white-space: nowrap;
  font-size: 0;
}

.photo-slider__photo {
  display: inline-block;
  margin-right: var(--column-gap);
  border-radius: calc(1.5*var(--line-height));
  height: 100%;
}

.photo-slider__photo:last-child {
  margin-right: 0;
}

.photo-slider__photo img {
  object-fit: contain;
  border-radius: calc(1.5*var(--line-height));
  height: 100%;
}



/* color form */

.order-form {
  display: grid;
  grid-column-gap: var(--column-gap);
  grid-template-columns: 1fr 1fr;
  position: relative;
  font-size: 0;
}

.order-form__preview {
  display: inline-block;
  position: relative;
  border-radius: calc(1.5*var(--line-height));
  height: 100%;
  text-align: center;
  vertical-align: top;
  background: #f5f5f5;
}

.order-form__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 2*var(--column-gap));
  max-height: calc(100% - 2*var(--line-height));
  object-fit: contain;
  opacity: 0;
}

.order-form__picture.active {
  opacity: 1;
}

.order-form__body {
  display: inline-block;
  vertical-align: top;
}

.order-form__color-list {
  margin-bottom: var(--line-height);
  border-radius: calc(1.6*var(--line-height));
  padding: var(--line-height) calc(1.6*var(--line-height));
  height: auto;
  font-size: 0;
  line-height: normal;
  background: #f5f5f5;
}

.order-form__color {
  position: relative;
  display: inline-block;
  margin-right: var(--column-gap);
  border-radius: 50%;
  width: calc(var(--line-height));
  height: calc(var(--line-height));
  background: #eee;
}

.order-form__color::before {
  position: absolute;
  left: calc(-0.5 * var(--column-gap));
  top: calc(-0.5 * var(--line-height));
  width: calc(100% +  var(--column-gap));
  height: calc(100% +  var(--line-height));
  content: '';
}

.order-form__color:hover {
  box-shadow: 0 0 0 calc(0.25*var(--line-height)) var(--firm-dim-opacity);
  cursor: pointer;
}

.order-form__color.active {
  box-shadow: 0 0 0 calc(0.25*var(--line-height)) var(--firm-dim);
}

.order-form__color#color1 {
  background: #aaa5a2;
}

.order-form__color#color2 {
  background: #965252;
}

.order-form__color#color3 {
  background: #4c5a8c;
}

.order-form__color:last-child {
  margin-bottom: 0;
}

.order-form__input-wrapper {
  margin: 0 auto;
  margin-bottom: var(--line-height);
  width: 100%;
}
.order-form__input-wrapper:last-child {
  margin-bottom: 0;
}

.order-form__two-inputs-wrapper {
  display: flex;
  margin: 0 auto;
  margin-bottom: var(--line-height);
  width: 100%;
}
.order-form__two-inputs-wrapper:last-child {
  margin-bottom: 0;
}
.order-form__two-inputs-wrapper input {
  flex: 3;
}
.order-form__two-inputs-wrapper input:first-child {
  margin-right: var(--column-gap);
  flex: 2;
}

.order-form__submit-btn {
  width: 100%;
}


/* contacts */

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: var(--column-gap);
}

.contacts__header {
  grid-column: 2;
  grid-row: 1;
  margin-bottom: var(--line-height);
  letter-spacing: 0.1em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--firm-dim);
}

.contacts__body {
  grid-column: 3 / -1;
  grid-row: 1;
  letter-spacing: 0.1em;
  font-size: .9rem;
  line-height: var(--line-height);
}



/* footer */

.footer {
  height: calc(5*var(--line-height));
}



/* 4:3 */

@media only screen and (device-aspect-ratio: 4/3) {
  .content__banner {
    min-height: 0;
    max-height: 100vw;
  }
}



/* smartphone */

@media only screen and (max-width: 416px) {

  html {

    /* grid  */
    --left-side-width: 8px;
    --right-side-width: 8px;
    --main-width: calc(100vw - var(--left-side-width) - var(--right-side-width));
    --column-gap: 10px;
    --line-height: 21px;

    font-size: 16px;
    overflow-x: hidden;
  }

  body {
    position: relative;
    overflow-x: hidden;
  }

  .header {
    grid-template-columns: [col] var(--left-side-width) [col] repeat(3, 1fr) [col] var(--right-side-width);
    grid-template-rows: repeat(6, [row] var(--line-height)) [row] auto;
    grid-template-areas:
      ". logo . . ."
      ". logo number number ."
      ". logo . menu-btn ."
      ". logo . menu-btn ."
      ". logo . menu-btn ."
      ". . . . ."
      ". menu menu menu .";
      width: 100%;
  }

  .header__logo img {
    left: -18%;
    top: -6px;
    width: calc(100% + 16px);
  }

  .header__logo-label {
    display: none;
  }

  .page-carousel__item {
    width: .5rem;
    height: .5rem;
  }

  .content__banner {
    padding-top: calc(6*var(--line-height));
    min-height: calc(100*var(--vh) - 6*var(--line-height));
  }

  .banner {
    grid-template-columns:  repeat(3, [col] 1fr);
    grid-template-rows: repeat(24, var(--line-height)) auto;
  }

  .banner__tagline {
    grid-column: col 1 / span 3;
    grid-row: 3 / span 4;
    /* style */
    line-height: calc(var(--line-height)*2);
    font-size: 2rem;
    text-align: center;
  }

  .banner__good-img {
    position: relative;
    grid-column: col 1 / span 3;
    grid-row: 8 / 19;
  }

  .banner__CTA-btn {
    grid-column: col 1 / span 3;
    grid-row: 21 / span 3;
    /* style */
    font-size: 1rem;
    margin: 0 auto;
    z-index: 2;
  }

  .banner__good-img img {
    object-fit: contain;
    width: 100%;
  }

  .banner__background-rounds {
    grid-column: col 1 / span 3;
    grid-row: 2 / span 1;
    width: 120vw;
    height: 120vw;
    transform: translate( calc(-1 * var(--column-gap) - var(--left-side-width) - 10vw) , 0);
    z-index: -1;
  }


  .block {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, var(--line-height)) fit-content(100%) var(--line-height) fit-content(100%) var(--line-height) auto repeat(3, var(--line-height));
  }

  .block__header {
    grid-row: 4 / span 1;
    font-size: 2rem;
  }

  .block__subheader {
    grid-row: 6 / span 1;
  }

  .block__body {
    grid-row: 8 / span 1;
  }

  .block__background-rounded-half {
    top: 60%;
    left: calc(-1 * var(--left-side-width) - var(--column-gap) - 50vw);
    width: 200vw;
    height: 40%;
  }

  /* advantage-list & advatage */

  .advantage-list {
    display: grid;
    grid-column-gap: var(--column-gap);
    grid-row-gap: calc(var(--line-height)*2);
    grid-template-columns: 1fr;
  }

  .advantage__icon {
    width: 33%;
  }

  /* colors and color */

  .color-list {
    display: grid;
    grid-column-gap: var(--column-gap);
    grid-row-gap: calc(var(--line-height)*2);
    grid-template-columns: 1fr;
  }

  .color__picture img {
    width: 33%;
  }

  /* specs and spec */

  .spec-list {
    display: grid;
    grid-column-gap: var(--column-gap);
    grid-row-gap: calc(var(--line-height)*2);
    grid-template-columns: 1fr;
  }

  .spec__picture img {
    width: 33%;
  }

  /* applications */

  .application-list {
    display: grid;
    grid-column-gap: var(--column-gap);
    grid-template-columns: 1fr [center] 4fr 1fr;
    grid-template-rows: [center] 1fr;
  }

  .application__picture {
    width: 100%;
    padding-bottom: 100%;
  }

  .application__header {
    font-size: 1.5rem;
  }

  .application-list__item.application.prev {
    transform: translate(calc(-50% - var(--column-gap)), -12.5%) scale(.5,.5);
  }

  .application-list__item.application.next {
    transform: translate(calc(50% + var(--column-gap)), -12.5%) scale(.5,.5);
  }

  /* stats */

  .stat-list {
    display: grid;
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--line-height);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  /* photo slider */

  .photo-slider__visible-area {
    overflow-x: visible;
    overflow-y: hidden;
  }

  /* color form */

  .order-form {
    display: grid;
    grid-row-gap: var(--line-height);
    grid-column-gap: var(--column-gap);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    font-size: 0;
  }

  .order-form__picture {
    width: 33%;
  }


  /* contacts */

  .contacts {
    display: block;
  }

  .contacts__header {
    text-align: center;
  }

  .contacts__body {
    text-align: center;
  }

}



/* small smartphone */

@media only screen and (max-width: 320px) {

  html {

    /* grid  */
    --left-side-width: 8px;
    --right-side-width: 8px;
    --main-width: calc(100vw - var(--left-side-width) - var(--right-side-width));
    --column-gap: 10px;
    --line-height: 18px;

    font-size: 13px;
  }

}
